.logout{
	font-family: 'Life Savers', cursive;
	margin:auto;
	text-align:center;
	background-color:'#f0f0f0';
	}
	
.welcome{
	font-family: 'Bubbler One', sans-serif;
	}
	
.links{
	margin:auto;
	text-align:center;
	}

.body-left{
	
}